<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="https://cdn.jsdelivr.net/gh/needleworm/prompt/img/mainCover.jpg" class="img-responsive bookcover" alt="">
            <h5>프롬프트 엔지니어링</h5>
            <h6>생성형 인공지능을 제대로 활용하는 방법</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://search.shopping.naver.com/book/catalog/42879138623" target="_blank" rel="noreferrer">
                        <img src="img/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ISBN=K872935139" target="_blank" rel="noreferrer">
                        <img src="img/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.yes24.com/Product/Goods/122661870" target="_blank" rel="noreferrer">
                        <img src="img/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://product.kyobobook.co.kr/detail/S000209512470" target="_blank" rel="noreferrer">
                        <img src="img/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
