<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="https://cdn.jsdelivr.net/gh/needleworm/dataset/img/mainCover.jpg" class="img-responsive bookcover" alt="">
            <h5>AI, 빅데이터 활용이 쉬워지는<br/>142가지 데이터셋</h5>
            <h6>#세계가 #주목하는 #데이터셋 #집대성</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=21508184" target="_blank" rel="noreferrer">
                        <img src="img/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ISBN=8970505350&start=pnaver_02" target="_blank" rel="noreferrer">
                        <img src="img/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.yes24.com/Product/Goods/107036705" target="_blank" rel="noreferrer">
                        <img src="img/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&ejkGb=KOR&linkClass=&barcode=9788970505350" target="_blank" rel="noreferrer">
                        <img src="img/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
