<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="img/mainCover.png" class="img-responsive bookcover" alt="">
            <h5>돈이 복사되는<br/>가상자산 수업</h5>
            <h6>비트코인, NFT, 메타버스, 이론부터 수익 창출까지</h6>
            <ul class="list-inline ">
                <li><a href="https://search.shopping.naver.com/book/catalog/32551450619" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/naver.png" class="bookstore"/></a></li>
                <li><a href="https://www.aladin.co.kr/shop/wproduct.aspx?ISBN=8970505504" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/aladdin.png" class="bookstore"/></a></li>
                <li><a href="http://www.yes24.com/Product/Goods/109708603" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/yes24.png" class="bookstore"/></a></li>
                <li><a href="https://product.kyobobook.co.kr/detail/S000061351299" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/kyobo.png" class="bookstore"/></a></li>
            </ul>
        </div>
      </div>
    </div>
  </section>
