<!-- markets -->
<section  id="part6"  class="bg-light-gray">
    <div class="container" style="text-align:center;">

      <div class="chapter">
        <div class="chapterTitle">CHAPTER 19</div>
        <div class="chapterSubtitle">생명과학 (Biology)</div>
        <p class="chapters">
          <strong>133</strong> GDC - 암 유전자 포털
            <a href="https://portal.gdc.cancer.gov" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>

          <strong>134</strong> CTPR - 항암 약물치료 반응
            <a href="http://portals.broadinstitute.org/ctrp/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>

          <strong>135</strong> KEGG - 유전자 & 물질대사
            <a href="https://www.genome.jp/kegg/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>

          <strong>136</strong> OOD - 박테리아 유전자
            <a href="https://github.com/google-research/google-research/tree/master/genomics_ood" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/google-research/tree/master/genomics_ood" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>137</strong> COVID-19 Open-Data - 코로나19
            <a href="https://github.com/GoogleCloudPlatform/covid-19-open-data" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/covid-19-open-data" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 20</div>
        <div class="chapterSubtitle">화학 (Chemistry)</div>
        <p class="chapters">
          <strong>138</strong> iEnvCmplx - 화학 복잡계
            <a href="https://github.com/needleworm/ion_interference" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1jD7a4xtEOwKmbRFQtatBiDssoHwpjzM0?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>139</strong> iPlantNutrient - 식물-화학 복잡계 상호작용
            <a href="https://github.com/needleworm/bh_coefficient" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1jAIJb8sOmEqXQR4Mhn9qGP8T8ZRcOOWo?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>140</strong> OGB-LSC - 그래프 추론
            <a href="https://ogb.stanford.edu/docs/lsc/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://pypi.org/search/?q=ogb" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>141</strong> ProteinNet - 단백질 분자구조
            <a href="https://github.com/aqlaboratory/proteinnet" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1aThL3SGC_rEa00fE4ik8gEdcWI-MTG3P?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
            
          <strong>142</strong> GDB - 유기물 분자구조
            <a href="https://gdb.unibe.ch/downloads/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1OSispUxRl451PLr1wQUFuvv4M9nbVRKz?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
    </div>
  </section>
