<!-- markets -->
<section  id="part3"   class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapterTitle">교육학적 기법의 적용</div><br/>

    <div class="chapter">
      <div class="chapterSubtitle">롤플레잉</div>
      <p class="chapters">
        <strong>01</strong> 롤플레잉이란?<br/>
        <strong>02</strong> 수행자 역할 부여<br/>
        <strong>03</strong> 전문가 역할 부여<br/>
        <strong>04</strong> 상호 역할 부여<br/>
        <strong>05</strong> 생성자 - 감별자 역할 부여<br/>
        <strong>06</strong> 당신의 과몰입이 성능 향상을 부른다<br/>
      </p>
    </div>
    <hr/>

    <div class="chapter">
      <div class="chapterSubtitle">강화 학습</div>
      <p class="chapters">
        <strong>01</strong> 행동주의<br/>
        <strong>02</strong> 정적강화<br/>
        <strong>03</strong> 수여성 처벌<br/>
        <strong>04</strong> 더 장기적인 강화 학습 기법<br/>
      </p>
    </div>
    <hr/>

    <div class="chapter">
      <div class="chapterSubtitle">주입식 교육</div>
      <p class="chapters">
        <strong>01</strong> 사실 가장 효율적인 교육 기법<br/>
        <strong>02</strong> 지식 주입<br/>
        <strong>03</strong> 사례 주입<br/>
        <strong>04</strong> 주입식 교육의 활용 전략<br/>
      </p>
    </div>
    <hr/>

    <div class="chapter">
      <div class="chapterSubtitle">형성평가</div>
      <p class="chapters">
        <strong>01</strong> 교육의 개선을 위한 도구<br/>
        <strong>02</strong> 목표 이해도 평가<br/>
        <strong>03</strong> 전략 평가<br/>
        <strong>04</strong> 메타인지<br/>
      </p>
    </div>
    <hr/>

      
  </div>
</section>
