<!-- markets -->
<section  id="part2"   class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapterTitle">태스크 프롬프트</div><br/>

    <div class="chapter">
      <div class="chapterSubtitle">LLM의 기본 기능을 고려한 기법</div>
      <p class="chapters">
        <strong>01</strong> 태스크 프롬프트<br/>
        <strong>02</strong> 트랜스포머의 본업, 텍스트 변형<br/>
        <strong>03</strong> 어텐션의 본업, 요약<br/>
        <strong>04</strong> 정보와 지식의 흔적을 토대로, 분류<br/>
        <strong>05</strong> 감정과 표현의 흔적을 토대로, 감정 분석<br/>
        <strong>06</strong> 디코더의 본업, 확장<br/>
        <strong>07</strong> 가장 기초적인 언어 모델의 사용 방법<br/>
      </p>
    </div>
    <hr/>

    <div class="chapter">
      <div class="chapterSubtitle">LLM의 구조와 원리를 고려한 기법</div>
      <p class="chapters">
        <strong>01</strong> AI를 사람처럼 대하라<br/>
        <strong>02</strong> AI에 행동 방침을 하달하라, 규칙 부여 프롬프트<br/>
        <strong>03</strong> 주도권을 AI에 넘기다, 질의 응답 역전<br/>
        <strong>04</strong> 어텐션의 기본 역량, 독해<br/>
        <strong>05</strong> 어텐션의 놀라운 효능, 논리적 추론<br/>
        <strong>06</strong> 레이턴트 스페이스에 남은 정보와 어텐션, 유사성 분석<br/>
        <strong>07</strong> 생성형 사전 훈련의 흔적, 문법 적합성 판단<br/>
        <strong>08</strong> 드디어 프롬프트의 기본 활용법 설명이 끝났습니다<br/>
      </p>
    </div>
    <hr/>

    <div class="chapter">
      <div class="chapterSubtitle">어텐션의 집착성을 고려한 기법</div>
      <p class="chapters">
        <strong>01</strong> 맥락을 이해하라고 만들어 놨더니 맥락에 집착하는 어텐션<br/>
        <strong>02</strong> 태 전환<br/>
        <strong>03</strong> 범위 한정<br/>
        <strong>04</strong> 가상 하이퍼파라미터<br/>
        <strong>05</strong> 어텐션 과부하<br/>
        <strong>06</strong> 어텐션이 있기에 가능한 일<br/>
      </p>
    </div>
      
  </div>
</section>
