<section  id="prologue">
  <div class="container" style="text-align:center;">
    <div class="chapterTitle">PROLOGUE</div><br/>

    <div class="chapter">
      <div class="chapterSubtitle">프롬프트 엔지니어링</div>
    </div>
</section>

<section  id="part1"   class="bg-light-gray">

    <div class="container" style="text-align:center;">
      <div class="chapterTitle">프롬프트 엔지니어링의 이론적 배경</div><br/>

      <div class="chapter">
        <div class="chapterSubtitle">프롬프트 엔지니어링은 질문을 잘하는 것이 아니다</div>
        <p class="chapters">
          <strong>01</strong> 프롬프트란 무엇인가?<br/>
          <strong>02</strong> 프롬프트 엔지니어링에 대한 저자의 정의<br/>
          <strong>03</strong> 프롬프트 엔지니어링에 대한 업계의 통설적 정의<br/>
          <strong>04</strong> 모로 가도 서울만 가면 된다<br/>
        </p>
      </div>
      <hr/>

      <div class="chapter">
        <div class="chapterSubtitle">모든 것은 어텐션으로부터 시작되었다</div>
        <p class="chapters">
          <strong>01</strong> 챗GPT, 바드, LaMDA, PaLM, LLaMA까지 초거대 AI의 공통점은?<br/>
          <strong>02</strong> 어텐션의 원리 쉽게 살펴보기<br/>
          <strong>03</strong> 극도로 발달한 커닝 기술은 지능과 구분되지 않는다<br/>
          <strong>04</strong> 챗GPT는 당신이 오래전 했던 이야기를 기억한다<br/>
        </p>
      </div>
      <hr/>

      <div class="chapter">
        <div class="chapterSubtitle">당신은 LLM과 그 사용법을 오해하고 있다</div>
        <p class="chapters">
          <strong>01</strong> 할루시네이션, AI가 문제인가? 사람이 문제인가?<br/>
          <strong>02</strong> 인간의 말을 알아듣는 기계는 사랑받기 마련이다<br/>
          <strong>03</strong> 이해력을 담당하는 인코더, 표현력을 담당하는 디코더<br/>
          <strong>04</strong> 레이턴트 스페이스, 뇌가 정보를 저장하는 원리<br/>
          <strong>05</strong> AI가 인간의 방식으로 단어의 의미를 이해하다<br/>
          <strong>06</strong> AI가 문장의 의미와 뉘앙스를 이해하다<br/>
          <strong>07</strong> LLM 전쟁의 원흉, 트랜스포머의 등장<br/>
          <strong>08</strong> GPT와 BERT의 등장<br/>
          <strong>09</strong> OpenAI의 급발진<br/>
          <strong>10</strong> 크게, 크게, 무조건 크게! 근데 이게 맞나?<br/>
          <strong>11</strong> 지식을 주입하는 단계는 존재하지 않는다<br/>
        </p>
      </div>
        
    </div>
  </section>
