<!-- markets -->
<section  id="part4"   class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapterTitle">프롬프트 해킹(탈옥)</div><br/>

    <div class="chapter">
      <div class="chapterSubtitle">가스라이팅</div>
      <p class="chapters">
        <strong>01</strong> 가스라이팅<br/>
        <strong>02</strong> 매니퓰레이션<br/>
        <strong>03</strong> 매니퓰레이션 방어<br/>
        <strong>04</strong> 프롬프트 엔지니어링의 현재<br/>
      </p>
    </div>
    <hr/>

    <div class="chapter">
      <div class="chapterSubtitle">취약점 공격</div>
      <p class="chapters">
        <strong>01</strong> 프롬프트 해킹<br/>
        <strong>02</strong> 해킹의 기본, SQL 인젝션<br/>
        <strong>03</strong> 프롬프트 인젝션<br/>
        <strong>04</strong> 프롬프트 인젝션 방어<br/>
        <strong>05</strong> 프롬프트 탈취 (1) - 기존 대화 내역 유출<br/>
        <strong>06</strong> 프롬프트 탈취 (2) - 다른 사용자의 대화 내역 유출<br/>
        <strong>07</strong> 프롬프트 탈취 방어<br/>
        <strong>08</strong> 모순유희<br/>
      </p>
    </div>
    <hr/>

    <div class="chapter">
      <div class="chapterSubtitle">Do Anythong Now</div>
      <p class="chapters">
        <strong>01</strong> GAN을 흉내 낸 DAN<br/>
        <strong>02</strong> 02 DAN에게 메스암페타민의 제조법을 물어보면?<br/>
      </p>
    </div>
    <hr/>
      
  </div>
</section>

<section  id="epilogue">
  <div class="container" style="text-align:center;">
    <div class="chapterTitle">EPILOGUE</div><br/>

    <div class="chapter">
      <div class="chapterSubtitle">프롬프트 엔지니어링의 미래</div>
    </div>
</section>

<section  id="appendix"   class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapterTitle">부록</div><br/>

    <div class="chapter">
      <p class="chapters">
        <strong>01</strong> 논리 퀴즈 전문<br/>
        <strong>02</strong> 생성자-감별자 역할 부여 프롬프트 전문<br/>
        <strong>03</strong> 정적 강화 프롬프트 예시<br/>
      </p>
    </div>
</section>
