<!-- markets -->
<section  id="part4"  class="bg-light-gray">
    <div class="container" style="text-align:center;">

      <div class="chapter">
        <div class="chapterTitle">CHAPTER 16</div>
        <div class="chapterSubtitle">음성 발화 (Speech and Voices)</div>
        <p class="chapters">
          <strong>114</strong> Spoken Digit - 음성 MNIST
            <a href="https://github.com/Jakobovski/free-spoken-digit-dataset" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/free-spoken-digit-dataset" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>115</strong> Libri Speech - 대규모 음성 코퍼스
            <a href="https://www.openslr.org/12" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/11OHsnH6tsXdcyua3eP_qE7fsXosxykY0?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>116</strong> LibriTTS - 음성 코퍼스
            <a href="http://www.openslr.org/60" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/11SUQ9_y_SyMkVslruk6pL-WyuFVFuRlI?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>117</strong> LJSpeech - 오디오북
            <a href="https://keithito.com/LJ-Speech-Dataset/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1zhe4IQpUGTFEuDxpAgXwWP4AC-eZKS-L?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>118</strong> Common Voice Corpus - 대규모 음성 코퍼스
            <a href="https://commonvoice.mozilla.org/en/datasets" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>

          <strong>119</strong> CREMA-D - 감정 인식
            <a href="https://github.com/CheyneyComputerScience/CREMA-D" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/CREMA-D" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>120</strong> VoxCeleb2 - 대규모 발화 데이터
            <a href="https://www.robots.ox.ac.uk/~vgg/data/voxceleb/vox2.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1QIryXF9q1nEXkpPQK6j7_SAsbgJL14eY?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>121</strong> LRW - 입술 읽기 (단어)
            <a href="https://www.robots.ox.ac.uk/~vgg/data/lip_reading/lrw1.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://www.bbc.co.uk/rd/projects/lip-reading-datasets" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>122</strong> LRS3-TED - 입술 읽기(문장)
            <a href="https://www.robots.ox.ac.uk/~vgg/data/lip_reading/lrs3.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1OYtJIZ8df_K0qzVLfYqimNmrnMv_OdRx?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 17</div>
        <div class="chapterSubtitle">음악 및 소리 (Music and Sound)</div>
        <p class="chapters">
          <strong>123</strong> FUSS - 소리 분해
            <a href="https://github.com/google-research/sound-separation/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/sound-separation" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>124</strong> CMM - 클래식 음악
            <a href="https://www.kaggle.com/soumikrakshit/classical-music-midi" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1nJIEVnYLZwBUhi_NdIIml73Zqt4Ipjpf?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>125</strong> GMD - 전자 드럼
            <a href="https://magenta.tensorflow.org/datasets/groove" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/16lpAJAMWA0rPT0pfXSm4_wHubOqQZ_yj?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>126</strong> E-GMD -전자 드럼
            <a href="https://magenta.tensorflow.org/datasets/e-gmd#download" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/16cIoW0-X06YRFaiiWBzNEiqBa0XwvHwx?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>127</strong> NSynth - 대규모 악보
            <a href="https://magenta.tensorflow.org/datasets/nsynth#files" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1aaaK3-CBlIU4nhkXKjpY6gIpI8wtzGk8?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>128</strong> Bach-Doodle -화음
            <a href="https://magenta.tensorflow.org/datasets/bach-doodle" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1I36_IJvRJagSnkmn2hY0XQMJBRUa52dM?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
            
          <strong>129</strong> MAESTRO - 피아노 연주
            <a href="https://magenta.tensorflow.org/datasets/maestro" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1_xCCwJKWLH7uagMVoWnosYm-l3sQ4x48?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
    </div>
  </section>
