<!-- markets -->
<section  id="part1" >
    <div class="container" style="text-align:center;">

      <div class="chapter">
        <div class="chapterTitle">CHAPTER 0</div><br/>
        <div class="chapterSubtitle">데이터셋 사용 안내</div>
        <p class="chapters">
          <strong>Section 1</strong> 이 책을 활용하는 방법<br/>
          <strong>Section 2</strong> 데이터셋의 사용과 저작권법<br/>
        </p>
      </div>
      <br/><br/><hr/><br/>

      <div class="chapter">
        <div class="chapterTitle">CHAPTER 1</div><br/>
        <div class="chapterSubtitle">데이터 포털 (Data Portal)</div>
        <p class="chapters">
          <strong>001</strong> 텐서플로 데이터셋 <a href="https://www.tensorflow.org/datasets/catalog/overview" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i><br/></a>
          <strong>002</strong> AI Hub <a href="https://aihub.or.kr" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i><br/></a>
          <strong>003</strong> 공공데이터포털 <a href="https://www.data.go.kr" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i><br/></a>
          <strong>004</strong> 야후(Yahoo!) 데이터셋 <a href="https://webscope.sandbox.yahoo.com/#datasets" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i><br/></a>
        </p>
      </div>
        
    </div>
  </section>
