<!-- markets -->
<section  id="part2"  class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <p>
        <div class="chapterSubtitle">데이터 백업 스토리지 접근 안내</div><br/>
        책에 기재된 데이터의 원본 출처를 통하여 데이터를 다운로드해주시기 바라며,<br/>
        데이터셋의 공식 홈페이지에 문제가 생겨 데이터셋에 접근이 곤란한 경우<br/>백업 스토리지를 활용해주시기 바랍니다.<br/>
        <br/>이 책을 구매하신 분께서만 데이터 백업 스토리지에 접근하실 수 있습니다. 
        <br/>이에 동의하시는 독자분께서만 아래 버튼을 클릭하여 백업 스토리지 접근 권한을 신청해 주시기 바랍니다.
        <br/><br/><a href="https://docs.google.com/forms/d/e/1FAIpQLSdzesV-KZXVBa2_pdCp6-BvvwTsmyU3kocl7B7AmaZt6mA0nA/viewform?usp=sf_link">
          <button class="btn btn-xl" target="_blank">스토리지 접근권한 신청</button>
        </a>
      </p>
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 2</div>
        <div class="chapterSubtitle">이미지 분류 (Image Classification)</div>
        <p class="chapters">
          <strong>005</strong> FGVC - 항공기 사진
            <a href="https://www.robots.ox.ac.uk/~vgg/data/fgvc-aircraft/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1BOti9nLRTHXVS-C5l-FZ8Z8lgIBOszLy?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>006</strong> MNIST - 숫자 손 글씨
            <a href="http://yann.lecun.com/exdb/mnist/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1EA2f4843bT2tT5UjqAIwEiaJysz1OONf?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>007</strong> Fashion MNIST - 패션의류<a href="https://github.com/zalandoresearch/fashion-mnist" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1E89dVUU3gvPetL5CGXa68FgY4GOoNJHb?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>008</strong> Omniglot - 알파벳 손 글씨
            <a href="https://github.com/brendenlake/omniglot/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1E5muonBcmU5djkfP2eZxQnT8PMaosQxu?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>009</strong> Quick, Draw! - 손그림
            <a href="https://github.com/googlecreativelab/quickdraw-dataset" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1DxjN53pWYkIYBLPi6V-jZXhIPFw-lNXL?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>010</strong> CIFAR-10 - 실물 오브젝트
            <a href="https://www.cs.toronto.edu/~kriz/cifar.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1DuWo2-Yyd-jfY5M0bYUawUjRLLPcfmvi?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>011</strong> CIFAR-100 - 실물 오브젝트
            <a href="https://www.cs.toronto.edu/~kriz/cifar.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1Dtwlfvpdt9Bq85GrWA5dIU2bhbUBCf4g?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>012</strong> CUB-200 - 조류 사진
            <a href="http://www.vision.caltech.edu/visipedia/CUB-200-2011.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1DlzLvd4WK03AvIWUuhJA1SC-W4PJfwt3?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>013</strong> SVHN - 현실 숫자
            <a href="http://ufldl.stanford.edu/housenumbers/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1DkTvBc2RcZmwTEa78O-5VX-4DjSYK-Ty?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>014</strong> Conflict Stimuli - CNN 일반화
            <a href="https://github.com/rgeirhos/texture-vs-shape" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1DiPNs5kmZ4GV3y02xb9X7N038TyTW_3J?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>015</strong> iNaturalist - 자연 사진
            <a href="https://github.com/visipedia/inat_comp" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1ELq7n_WM2GPP2aZylix2OHjgKss1JLVX?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>016</strong> So2Sat - 인공위성 사진
            <a href="https://mediatum.ub.tum.de/1454690" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1GYjQZDgvQzUIGInPQV94Ml22TbY09zpO?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>017</strong> SI-SCORE - CNN 일반화
            <a href="https://github.com/google-research/si-score" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1GW_wgrGNbxYL6oAjOdGZJIA15fBtRX_2?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
            
          <strong>018</strong> CO3D - 객체 다각도 촬영
            <a href="https://github.com/facebookresearch/co3d" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1HGD2cfj29G3g45gOjx7DPL3Tmt91Ay1_?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>

      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 3</div>
        <div class="chapterSubtitle">탐지 및 표지 (Detection and Segmentation)</div>
        <p class="chapters">
          <strong>019</strong> COCO - 대규모 종합 영상 데이터
            <a href="https://cocodataset.org/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>
          <strong>020</strong> Open Image V6 - 대규모 종합 영상 데이터
            <a href="https://storage.googleapis.com/openimages/web/factsfigures.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>
          <strong>021</strong> Scluptures 6K - 조각상 찾기
            <a href="https://www.robots.ox.ac.uk/~vgg/data/sculptures6k/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1IBvNvlO5xhCoB8jFmm3GpzErgLrP5E83?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>022</strong> Oxford-IIIT PET - 동물 사진
            <a href="https://www.robots.ox.ac.uk/~vgg/data/pets/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1lhnRzotnDxA7-oQjAlJwyEwFCRhmZjpl?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>023</strong> Penguin - 펭귄 찾기
            <a href="https://www.robots.ox.ac.uk/~vgg/data/penguins" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1lT1ypD_7cz_TJwAIPHuvjb53pTZCrKnw?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>024</strong> DAVIS - 비디오 세그멘테이션
            <a href="https://davischallenge.org/index.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1lS8waHxTYBiw0bG6Xp5jbGE1hMKUO2Q3?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 4</div>
        <div class="chapterSubtitle">의미론적 연관성 (Semantic Correspondence)</div>
        <p class="chapters">
          <strong>025</strong> Animal Parts - 동물 신체부위
            <a href="https://www.robots.ox.ac.uk/~vgg/data/animal_parts/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1lKw8JDq-A_2CtTOvp33fY3xR3DCKOlzV?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>026</strong> PF-PASCAL - Semantic Flow
            <a href="https://www.di.ens.fr/willow/research/proposalflow/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1lJsghoPRboAOjCFGqM1g-UNk9kP2oxDs?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>027</strong> SPair-71k - Semantic Correspondence
            <a href="http://cvlab.postech.ac.kr/research/SPair-71k/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1wtVKRQgMAvcDWhc5dHomjAlLVc3N1v54?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>028</strong> TTS - Semantic Correspondence
            <a href="https://taniai.space/projects/cvpr16_dccs028" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1jJOah4S6WwMI-rXwVjlLxHsPmQdqhwke?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 5</div>
        <div class="chapterSubtitle">안면인식 (Human Face Recognition)</div>
        <p class="chapters">
          <strong>029</strong> FairFace - 다인종 얼굴
            <a href="https://github.com/joojs/fairface" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1LWuwMu3zE8inC2hlCBKHAz-oIL-n_jtL?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>030</strong> CelebA - 유명인 얼굴
            <a href="http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1TEok043oORxujNkuwEbr67YFzc6zL-jf?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>031</strong> CelebA Mask-HQ - 얼굴 조작
            <a href="https://github.com/switchablenorms/CelebAMask-HQ" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1a1zbX81SBXJ9vIhKeADEzOOX7O3G0I3h?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>032</strong> AFLW - 얼굴 3차원 정보
            <a href="http://www.cbsr.ia.ac.cn/users/xiangyuzhu/projects/3DDFA/main.htm" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1_gS8YpqwsMRNxiZoz0DvfqmfH7hqMcbt?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>033</strong> LS3D-W - 얼굴 3차원 정보
            <a href="https://www.adrianbulat.com/face-alignment" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1wr4fPtmNz_xjpCIA4XBSDg38FQ2LpRIq?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>034</strong> VGG-Face2 - 얼굴 인식
            <a href="https://github.com/ox-vgg/vgg_face2" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1_fx_-8gO91OrAXoOqQmegrMX6FQbKdYx?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>035</strong> Celebrity Together - 얼굴 인식
            <a href="https://www.robots.ox.ac.uk/~vgg/data/celebrity_together/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>036</strong> Celebrity in Place - 인물과 장소 동시 인식
            <a href="https://www.robots.ox.ac.uk/~vgg/data/celebrity_in_places/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 6</div>
        <div class="chapterSubtitle">자세 인식 (Human Pose Estimation)</div>
        <p class="chapters">
          <strong>037</strong> Hand Dataset - 사람 손
            <a href="https://www.robots.ox.ac.uk/~vgg/data/hands/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1_rGPrKBZfgBpNjPGRtpwHQF5SrZLk1Qx?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>038</strong> Buffy Pose - 특정 포즈 인식
            <a href="https://www.robots.ox.ac.uk/~vgg/data/buffy_pose_classes/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1R2qcecJvMgyYT2WHn5iDENNXJxuydGiE?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>039</strong> Buffy Stickman - 자세 인식
            <a href="https://www.robots.ox.ac.uk/~vgg/data/stickmen/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1a2FbDhWY0TAIZ9_CaeusfMTxEZRcBcp5?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>040</strong> VGG HPE - 자세 인식
            <a href="https://www.robots.ox.ac.uk/~vgg/data/pose/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/18apakuiL4at6HZXVa5BI3fbCXCLW3tbE?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>041</strong> Sign Language Pose - 수화 인식
            <a href="https://www.robots.ox.ac.uk/~vgg/data/sign_language/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1aXwu1q8AzhHxG1RLxLP0gyh9J68Y20uQ?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>042</strong> LSP - 스포츠 포즈
            <a href="http://sam.johnson.io/research/lsp.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1_pQOeva31mEBVE3cdKiz3AMo5qPTuTY3?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>043</strong> MPI-INF-3DHP - 자세 추론
            <a href="https://vcai.mpi-inf.mpg.de/3dhp-dataset/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1_hui2D_jqhq-mIDYn4bbOGtUefg_FKHG?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>044</strong> Human 3.6M - 대규모 인체 데이터
            <a href="http://vision.imar.ro/human3.6m/description.php" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1_iWL4nuTlhb1TWadMuzbLECqrjmyR8hX?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>045</strong> 3DPW - 3D 자세 추론
            <a href="https://virtualhumans.mpi-inf.mpg.de/3DPW/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1aRWSjRmVLPFie-lN61ETSMMMmfvfBFLq?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 7</div>
        <div class="chapterSubtitle">자율주행 (Automonous Driving)</div>
        <p class="chapters">
          <strong>046</strong> BDD100K - 대규모 자율주행 데이터
            <a href="https://www.bdd100k.com" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>
          <strong>047</strong> KITTI - 대규모 자율주행 데이터
            <a href="http://www.cvlibs.net/datasets/kitti/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>
          <strong>048</strong> Cityscape - 길거리 세그멘테이션
            <a href="https://www.cityscapes-dataset.com" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>
          <strong>049</strong> Cityscape 3D - 탈것 인식
            <a href="https://github.com/mcordts/cityscapesScripts" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1_ml8Fu7PHVGvgH287qkyJcZir98no5e-?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>050</strong> CULane - 도로만 인식
            <a href="https://xingangpan.github.io/projects/CULane.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1Piy1NojXH96r86p_Td_5zBP_M2VGNF_j?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 8</div>
        <div class="chapterSubtitle">비디오 (Video)</div>
        <p class="chapters">
          <strong>051</strong> Vox Converse - 발화자 찾기
            <a href="https://www.robots.ox.ac.uk/%7Evgg/data/voxconverse/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1aNxSW95-jAEzV3N9YL8wjuBXUnGHSRKM?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>052</strong> VGG-Sound - Audio-Visual
            <a href="https://www.robots.ox.ac.uk/%7Evgg/data/vggsound/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1-s3_ksGYmjba3-bfZINCBp13NRcsWoxr?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>053</strong> MoCA - 은신 중인 동물 찾기
            <a href="https://www.robots.ox.ac.uk/~vgg/data/MoCA/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/CookingDataset" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>054</strong> Condensed Movie - 영화 클립
            <a href="https://www.robots.ox.ac.uk/~vgg/data/condensed-movies/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1PTl8jzrSSQbIaMBIKmyNKd8hqGi8UMjU?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>055</strong> Sherlock TV Series - 안면 인식
            <a href="https://www.robots.ox.ac.uk/~vgg/data/Sherlock/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1YWsP8imTEt7Tf-QZ2_I_430g5lysg2LE?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>056</strong> LAEO - Human Interaction
            <a href="https://www.robots.ox.ac.uk/~vgg/data/laeo/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1gk-WjpEGUqzYLN2SrpSSw2PXGXaVARK5?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>057</strong> TV Human Interaction - Human Interaction
            <a href="https://www.robots.ox.ac.uk/~vgg/data/tv_human_interactions/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1gRXK4sfn7kaWm4jGnkFKDmMIBKJ6mv1A?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>058</strong> SCV - 스타크래프트 2 플레이 영상
            <a href="https://storage.googleapis.com/scv_dataset/README.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1MNt4zc6StkCVOu5RyV3ttPqv7EGSPguf?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>059</strong> Fake AVCeleb - 딥페이크 감지
            <a href="https://sites.google.com/view/fakeavcelebdash-lab/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1MUWddAQ0RVD-gAKU5OpJf8psg5pdJzaO?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>

      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 9</div>
        <div class="chapterSubtitle">농업 영상 (Agricultural Images)</div>
        <p class="chapters">
          <strong>060</strong> Citrus - 시트러스
            <a href="https://data.mendeley.com/datasets/3f83gxmv57/2" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1MSaqaeHLytnPSehs2d4xlI56MUzjTfFM?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>061</strong> Deep Weeds - 잡초
            <a href="https://github.com/AlexOlsen/DeepWeeds" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1NS16Dh1Fvp-J8H2S4sNEWc-M6Gf-K0_r?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>062</strong> Plant Leaves - 잎사귀
            <a href="https://data.mendeley.com/datasets/hb74ynkjcn/1" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1ReEO4DROnoOQlzbsK-jgvQ1lzHnBVekc?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>063</strong> Plant Village - 잎사귀
            <a href="https://data.mendeley.com/datasets/tywbtsjrjv/1" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1MWVwRCXsy-V2HkTSaXEnL2217ueRxMUD?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>064</strong> PlanteK - 잎사귀
            <a href="https://data.mendeley.com/datasets/t6j2h22jpx/1" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/16Xodju1ddK4mAfOps2jpO0n2RRdJgmnl?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>065</strong> iBean - 콩잎
            <a href="https://github.com/AI-Lab-Makerere/ibean/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/16GNh9wLomNErCwhdFyQvvoA13e501tOR?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>

      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 10</div>
        <div class="chapterSubtitle">의료 영상 (Medical Images)</div>
        <p class="chapters">
          <strong>066</strong> MimickNet - 영상 재건
            <a href="https://github.com/ouwen/mimicknet" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/16F7hUus2-KH-AUrOla2rIyPS2vnLKBbY?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>067</strong> CBIS-DDSM - 유방암 조영
            <a href="https://wiki.cancerimagingarchive.net/display/Public/CBIS-DDSM" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/16BXAHhQmocwwsQKXCGzz2b5T0VEhzJJe?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>068</strong> CCH - 현미경 사진
            <a href="https://zenodo.org/record/53169#.YV6LhS_kGCj" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/169yfqZpRJPq6fGxGbCX57VT_ICS3Mrqz?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>069</strong> BCCD - 혈구
            <a href="https://github.com/Shenggan/BCCD_Dataset" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/146SjIVteAlaUYGBfpWKQjzde3Ng1Rg6k?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>070</strong> Malaria - 말라리아 감염 혈액
            <a href="https://lhncbc.nlm.nih.gov/LHC-publications/pubs/MalariaDatasets.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1DDYbnUu-XX4MpunJ_KCT0nswkttnEnY2?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>071</strong> MSD - Segmentation
            <a href="http://medicaldecathlon.com/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1ZgVOG2annbfen3FKI7-Yq5dtwGYBeqfk?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>072</strong> VFP290K - 실신 환자 찾기
            <a href="https://sites.google.com/view/dash-vfp300k/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1BqAsF8Zh5pVa3sfJSk4vuNr1aMF68Tuo?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>

      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 11</div>
        <div class="chapterSubtitle">그 외 영상 데이터 (Other Visual Data)</div>
        <p class="chapters">
          <strong>073</strong> SyntText - OCR
            <a href="https://www.robots.ox.ac.uk/~vgg/data/scenetext/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1Bgpm7lM4W8W7eeF0SwAI2CB_XY037EVe?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>074</strong> MJSynth - OCR
            <a href="https://www.robots.ox.ac.uk/~vgg/data/text/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1COSgNCWXfikCZkxyjBnGykGQ5It8IJs5?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>075</strong> Oxford Buildings - 객체 인식
            <a href="https://www.robots.ox.ac.uk/~vgg/data/oxbuildings/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1CHqoqTYMKKHrBxraIbtSxLfWlKwUOhhN?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>076</strong> S3O4D - 다각도 랜더링
            <a href="https://github.com/deepmind/deepmind-research/tree/master/geomancer#stanford-3d-objects-fordisentangling-%20s3o4d" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/19iZB9EbpP4enKdgArdwoC8JkYTCpPh_7?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>077</strong> 3D Shapes - 다각도 렌더링
            <a href="https://github.com/deepmind/3d-shapes" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1uVhJTJ501EeDY9Dmu0Zh4q02pc9SMHGE?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>078</strong> NYU Depth - 깊이 추론
            <a href="https://cs.nyu.edu/~silberman/datasets/nyu_depth_v2.html" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1uYnRdj09BfEnHOyOlohZ4-S9HUJXbDs0?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          <strong>079</strong> DMLab - 깊이 추론
            <a href="https://github.com/google-research/task_adaptation" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/19fUsK4W5qIVZWSxT0PI8H2dPesvTDVQH?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>

  </section>
