<!-- markets -->
<section  id="part3" >
    <div class="container" style="text-align:center;">

      <div class="chapter">
        <div class="chapterTitle">CHAPTER 12</div>
        <div class="chapterSubtitle">영어 자연어 처리 (English NLP)</div>
        <p class="chapters">
          <strong>080</strong> WikiBio - 위키피디아 문서
            <a href="https://github.com/DavidGrangier/wikipedia-biography-dataset" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/wikipedia-biography-dataset" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
            
          <strong>081</strong> GPT2 Output - 대규모 텍스트
            <a href="https://github.com/openai/gpt-2-output-dataset" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/gpt-2-output-dataset" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>082</strong> Summ Screen - 대화 요약
            <a href="https://github.com/mingdachen/SummScreen" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1x6fb8X-GH23KSW8skvLogBhyvJljBzR_?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>083</strong> Long Summarization - 논문 요약
            <a href="https://github.com/armancohan/long-summarization" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1xsCkUKStEL4uQ5nCl4ldiXScj1wNGQst?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>084</strong> PubMed Crawl - 논문 정보 수집
            <a href="https://github.com/needleworm/PubMed_Crawl_exe" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/needleworm/pubmed_crawler" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>085</strong> DART - 시멘틱 트리플렛
            <a href="https://github.com/Yale-LILY/dart" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/dart" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>086</strong> Twitch Chat - 트위치 채팅
            <a href="https://osf.io/39ev7/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/19QFVdiissk9xBNMKt6yMBco1edZxZkDt?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>

      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 13</div>
        <div class="chapterSubtitle">한국어 자연어 처리 (Korean NLP)</div>
        <div class="chapterSubtitle"><a href="https://arxiv.org/abs/2112.01624" target="_blank">한국어 자연어 데이터셋 논문 <u>link</u> <i class="fas fa-external-link-alt"></i><br/></a></div>
        <p class="chapters">
          <strong>087</strong> ParaKQC - 질문과 명령
            <a href="https://github.com/warnikchow/paraKQC" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/paraKQC" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>088</strong> Chatbot_data - 챗봇
            <a href="https://github.com/songys/Chatbot_data" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/Chatbot_data" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
          
          <strong>089</strong> ClovaCall - 음성 대화
            <a href="https://github.com/clovaai/ClovaCall" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf5bm7FtWYeZf8C02mlyZCg32yMrA9_DgKU17oD0migPkEXog/viewform" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>090</strong> KorQuAD 2.0 - 질의응답
            <a href="https://korquad.github.io" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/korquad.github.io" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>091</strong> Song-NER - 개체명 인식
            <a href="https://github.com/songys/entity" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/entity" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>092</strong> KMOUNLP-NER - 개체명 인식
            <a href="https://github.com/kmounlp/NER" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/NER" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>093</strong> Sci-News-Sum-Kr-50 -뉴스 요약
            <a href="https://github.com/theeluwin/sci-news-sum-kr-50" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/sci-news-sum-kr-50" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>094</strong> Petitions - 청와대 국민청원
            <a href="https://github.com/akngs/petitions" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/petitions" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>095</strong> KLUE - 한국어 이해
            <a href="https://github.com/KLUE-benchmark/KLUE" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/KLUE" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>096</strong> KorNLU - 문장 분류 및 유사성
            <a href="https://github.com/kakaobrain/KorNLUDatasets" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/KorNLUDatasets" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>097</strong> NSMC - 네이버 영화 리뷰
            <a href="https://github.com/e9t/nsmc" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/nsmc" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>098</strong> Toxic Comment - NSMC 감정 상세화
            <a href="https://github.com/songys/Toxic_comment_data" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/Toxic_comment_data" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>099</strong> 3i4K - 발화 의도 분석
            <a href="https://github.com/warnikchow/3i4k" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/3i4k" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>100</strong> Korean Hate Speech - 혐오발언
            <a href="https://github.com/kocohub/korean-hate-speech" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/korean-hate-speech" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>101</strong> KAIST Corpus - 코퍼스 데이터셋 모음
            <a href="http://semanticweb.kaist.ac.kr/home/index.php/KAIST_Corpus" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <br/>
        </p>
      </div>

      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 14</div>
        <div class="chapterSubtitle">질의응답 (Question Answering)</div>
        <p class="chapters">
          <strong>102</strong> ARC - 지능검사 문제
            <a href="https://github.com/fchollet/ARC/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/ARC" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>103</strong> ARM - 행렬추론
            <a href="https://github.com/deepmind/abstract-reasoning-matrices" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/11fQTfuDK6B3P5GRy_ccAxGsmdgCaNhmP?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>104</strong> AI2 ARC - 과학 시험문제
            <a href="https://allenai.org/data/arc" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1yhjDqBemJsFfmr-JatqrNGz32vM-KsSs?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>105</strong> NQ-Open - 영어 질의응답
            <a href="https://github.com/google-research-datasets/natural-questions/tree/master/nq_open" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/natural-questions" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>106</strong> SQuAD - 독해 기반 질의응답
            <a href="https://rajpurkar.github.io/SQuAD-explorer/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1p5OqwAGYuQeCMx20qSIfQLOkP39DSkId?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>107</strong> CoQA - 대화 기반 질의응답
            <a href="https://stanfordnlp.github.io/coqa/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1qZrLJj0GvphIO5K7tbrmmIs2Ck5JokZt?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>

      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 15</div>
        <div class="chapterSubtitle">기계번역 (Machine Translation)</div>
        <p class="chapters">
          <strong>108</strong> XQuAD - 다국어 질의응답
            <a href="https://github.com/deepmind/xquad" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/xquad" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
            
          <strong>109</strong> MLQA - 다국어 질의응답
            <a href="https://github.com/facebookresearch/MLQA" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1q-uMnUTkX5LLEswtF2UwyIJqzp0eczBu?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>110</strong> TyDi - 다국어 질의응답
            <a href="https://github.com/google-research-datasets/tydiqa" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1yP1BvPrJVNk4hgjGRbYeS3w3kDEB9JG5?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>111</strong> FloRes-101 - 101가지 언어 번역
            <a href="https://github.com/facebookresearch/flores/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/14T3HkXJ4eYQuKNoScGbvTGfI4FBojO5q?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>112</strong> Ted Talks - 테드 강연
            <a href="https://github.com/neulab/word-embeddings-for-nmt" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/11oSaPFE0rzN9vDblfCU9TmMi3susYTwZ?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>113</strong> KPC - 한국어, 영어, 불어 매핑
            <a href="https://github.com/jungyeul/korean-parallel-corpora" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/korean-parallel-corpora" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
    </div>
  </section>
