<!-- markets -->
<section  id="part5" >
    <div class="container" style="text-align:center;">
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 18</div>
        <div class="chapterSubtitle">강화학습 (Reinforcement Learning Environments)</div>
        <p class="chapters">
          <strong>130</strong> Green House - 온실 시뮬레이션
            <a href="https://github.com/needleworm/greenhouse_ai" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://drive.google.com/drive/folders/1jG4wJIy5S4dpb2Cm8gQTL8rmtNYfkRbT?usp=sharing" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>

          <strong>131</strong> OpenAI GYM - 대규모 강화학습 환경들
            <a href="https://gym.openai.com/" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://pypi.org/search/?q=gym" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
            
          <strong>132</strong> D4RL - 대규모 강화학습 환경들
            <a href="https://sites.google.com/view/d4rl" target="_blank"><u>link</u> <i class="fas fa-external-link-alt"></i></a>
            <a href="https://github.com/bhban2/d4rl" target="_blank"> <u>backup</u> <i class="fas fa-save"></i></a><br/>
        </p>
      </div>
      
    </div>
  </section>
